.navbar {
  height: fit-content;
   border-bottom: 1px solid rgb(209, 198, 198);
    color: rgb(10, 10, 10);
    width: 1400px;

    display: flex;
    height: 40px;align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  
  .navbar a {
    color: rgb(16, 15, 15);
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: none;
  }
  
  .navbar .navbar-links a:hover {
    text-decoration: underline;
  }
  